.item {
    display: flex;
    align-items: center;
    padding: 5px 0;

    background-color: #ffffff;

    overflow: hidden;
       
        

 padding: 20px;
}

.item:not(:last-child) {
border-bottom: 2px solid #7e6f7498;
}



.status {
border-radius: 50%;
    height: 30px;
    margin-right: 20px;
    width: 30px;
}

.online {
    composes: status;
    background-color: #4caf50;
}

.offline {
    composes: status;
    background-color: #f44336;
}

.avatar {
    width: 100px;
    margin-right: 10px;
}

.name {
    font-weight: 700;
        font-size: 30px;
        margin-bottom: 15px;
        color: #524a4d;
}