.friends {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex-direction: column;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
            1px 4px 6px rgb(0 0 0 / 16%);
        overflow: hidden;
        border: 2px solid #7e6f7498;
        border-radius: 5px;
}



.friends__list {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 0;
    
        border-radius: 5px;
}

.friends__item {
    display: flex;
    align-items: center;
    border-bottom:  2px solid #7e6f7498;
    
    padding: 20px;
}
.friends__item:last-child {
    border-bottom: none;
}

.friends__status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}

.avatar {
    width: 100px;
    margin-right: 10px;
}

.friends__name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    color: #524a4d;
}